@media screen and (min-width: 320px) {
    .contact {
        position: relative;
        z-index: 13;
        .gradientContact {
            position: absolute;
            width: 53.4rem;
            height: 48.3rem;
            top: 10rem;
            right: 47.6%;
            background: radial-gradient(50% 50% at 50% 50%, rgba(184, 125, 88, 0.35) 0%, rgba(184, 125, 88, 0) 100%);
        }
        .contactWrap {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6rem auto 6rem;
        align-content: center;
        background-color: #FFFFFF;
        .contactWrapGrid {
            grid-column: 1/2;
            grid-row: 2/3;
            background-color: #F4F3F0;
            max-width: 50rem;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 0.5fr 4fr 1fr 1.5fr 0.5fr;
            grid-template-rows: 0.5fr 1fr 0.4fr;
            border-radius: 1rem;
            .contactWrap__paragraph {
                grid-column: 2/3;
                grid-row: 2/3;
                font-size: 1.5rem;
                justify-self: center;
                .contactWrap__paragraph_p {
                    //max-width: 19.6rem;
                }
            }
            .contactWrap__btn_a {
                grid-column: 4/5;
                grid-row: 2/3;
                align-self: center;
                width: 7.8rem;
                height: 3.6rem;
                border-radius: 6px;
                background-color: #3A5F56;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                .contactWrap__btn {
                    width: 4.7rem;
                    height: 1.7rem;
                    color: #FFFFFF;
                    font-size: 1.2rem;
                }
            }
        }
        }
    }
}
