@media screen and (min-width: 320px) {
  .footer {
    position: relative;
    z-index: 14;
    background-color: var(--text-color);
    color: var(--just-white);
    padding: 2rem;
    .footerGridWrap {
      margin: 0 auto;
      max-width: 1440px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;
      align-items: center;
      gap: 1rem;
      ul {
        padding-inline-start: 0;
      }
      .footerLogoWrap {
        justify-self: center;
        align-self: center;
        .footerLogoWrap_span {
          width: 7rem;
          height: 1.8rem;
          background-image: url("../img/Logo_header.svg");
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
      .footerColumnWrap {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: center;
        li {
          list-style: none;
          padding: 0.5rem 0;
          text-align: center;
          a {
            text-decoration: none;
            color: var(--just-white);
          }
        }
        .ch_cl {
          color: var(--footer-item);
        }
        .newsletter {
          .newsletter_search_wrap {
            .newsletter_search {
              margin: 0 auto;
              display: grid;
              grid-template-columns: 2fr 1fr;
              grid-template-rows: 1fr;
              justify-items: center;
              align-content: center;
              max-width: 28.6rem;
              max-height: 3.3rem;
              background-color: var(--just-white);
              border: 1px solid var(--just-white);
              border-radius: 8px;
              .email {
                grid-column: 1/2;
                grid-row: 1/2;
                border: none;
                display: inline-block;
                width: 90%;
              }
              .submit {
                grid-column: 2/3;
                grid-row: 1/2;
                align-self: center;
                display: inline-block;
                width: 120px;
                height: 30px;
                border-radius: 0.6rem;
                background-color: #292c32;
                color: var(--just-white);
              }
            }
          }
        }
      }
      .footerInfo {
        grid-column: 1/2;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: 7fr 1fr 3fr 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
        align-items: center;

        .rights {
          grid-column: 1/2;
          grid-row: 1/2;
          font-size: 14px;
          .webflow {
            text-align: center;
            padding-left: 0.4rem;
            color: var(--title-red);
          }
        }
        .social {
          grid-column: 3/4;
          grid-row: 1/2;
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-around;
          gap: 10px;
          .linkedin a {
            display: inline-block;
            width: 24px;
            height: 24px;
            background-image: url("../img/linkedin.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
          .facebook a {
            display: inline-block;
            width: 24px;
            height: 24px;
            background-image: url("../img/facebook.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
          .instagram a {
            display: inline-block;
            width: 24px;
            height: 24px;
            background-image: url("../img/istagram.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
          .twitter a {
            display: inline-block;
            width: 24px;
            height: 24px;
            background-image: url("../img/twitter.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 520px) {
  .footer {
    .footerGridWrap {
      .footerColumnWrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 0.5fr;

        .pages {
          grid-column: 1/2;
          grid-row: 1/2;
        }
        .presetPacks {
          grid-column: 2/3;
          grid-row: 1/2;
        }
        .utilityPages {
          grid-column: 1/2;
          grid-row: 2/3;
        }
        .storeCategories {
          grid-column: 2/3;
          grid-row: 2/3;
        }
        .businesAreas {
          grid-column: 1/3;
          grid-row: 3/4;
        }
        .newsletter {
          grid-column: 1/3;
          grid-row: 4/5;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .footer {
    .footerGridWrap {
      .footerColumnWrap {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        align-items: start;

        .pages {
          grid-column: 1/2;
          grid-row: 1/2;
        }
        .presetPacks {
          grid-column: 2/3;
          grid-row: 1/2;
        }
        .utilityPages {
          grid-column: 3/4;
          grid-row: 1/2;
        }
        .storeCategories {
          grid-column: 1/2;
          grid-row: 2/3;
        }
        .businesAreas {
          grid-column: 2/3;
          grid-row: 2/3;
        }
        .newsletter {
          grid-column: 4/5;
          grid-row: 1/2;
        }
      }
    }
  }
}
