@media screen and (min-width: 320px) {
    .preset {
        background-color: var(--basic-background-color);
        position: relative;
        z-index: 12;
        overflow: hidden;
        padding: 2rem 0;
        .preset-gradient_wrap {
            .gradientPreset {
                position: absolute;
                width: 32.2rem;
                height: 31.3rem;
                top: 35.4rem;
                left: 79%;
                background: radial-gradient(50% 50% at 50% 50%, rgba(219, 52, 59, 0.296) 0%, rgba(219, 52, 59, 0) 100%);
            }
            .presetWrap{
                max-width: 1440px;
                margin: 0 auto;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-around;
                align-content: center;
                gap: 2rem;
                .presetIntroWrap {
                    align-self: center;
                    margin: 0 auto;
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: space-around;
                    align-content: center;
                    .presetIntroWrap__wave {
                        grid-column: 1/2;
                        grid-row: 2/3;
                        display: inline-block;
                        height: 1.2rem;
                        background-image: url('../img/wawe.svg');
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    .presetIntroWrap__h3 {
                        grid-column: 1/2;
                        grid-row: 3/4;
                        font-family: 'Source Serif Pro', serif;
                        font-size: 1.7rem;
                        line-height: 0.4rem;
                        text-align: center;
                        color: var(--title-red);
                    }
                    .presetIntroWrap__p {
                        grid-column: 1/2;
                        grid-row: 4/5;
                        font-family: 'Roboto', sans-serif;
                        font-size: 16px;
                        max-width: 65%;
                        margin: 0 auto;
                    }
                }
                .presetGridWrap {
                    grid-row: 3/4;
                    grid-column: 1/2;
                    display: grid;
                    justify-items: center;
                    align-items: center;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                    .p_cell {
                        max-width: 400px;
                        max-height: auto;
                        border-radius: 1rem;
                        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
                        background-color: #FFFFFF;
                        margin: 1rem;
                    }
                    .img_pr_cell {
                        width: auto;
                        height: 15.8rem;
                        display: block;
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                    .h4_pr_cell {
                        font-family: 'Source Serif Pro', serif;
                        font-size: 1.5rem;
                        line-height: 1rem;
                        padding: 0 1rem;
                    }
                    .pr_cell_p {
                        font-size: 1rem;
                        line-height: 1.4rem;
                        padding: 0 1rem;
                    }
    
                    .presetGridWrap__div1 {
                        grid-column: 1/2;
                        grid-row: 1/2;
                        .img_pr_cell {
                            background-image: url('../img/preset_01.png');
                        }
                    }
                    .presetGridWrap__div2 {
                        grid-column: 1/2;
                        grid-row: 2/3;
                        .img_pr_cell {
                            background-image: url('../img/preset_02.png');
                        }
                    }
                    .presetGridWrap__div3 {
                        grid-column: 1/2;
                        grid-row: 3/4;
                        .img_pr_cell {
                            background-image: url('../img/preset_03.png');
                        }
                    }
                }
                .presetLinkWrap {
                    grid-row: 4/5;
                    grid-column: 1/4;
                    margin: 0 auto;
                    align-self: center;
                    .presetLinkWrap_span {
                        width: 7.3rem;
                        height: 1.5rem;
                    }
                    .preset__btn {
                        line-height: 1.5rem;
                    }
                    .preset__btn::after {
                        content: "";
                           display: inline-block;
                           background-image: url('../img/arrow_a.svg');
                           width: 1.2rem;
                           height: 0.6rem;
                           background-size: cover;
                           margin-left: 0.2rem; 
                    }
    
                }
            }
        }
        }
        
}
@media screen and (min-width: 768px) {
    .preset {
        .preset-gradient_wrap {
            .presetWrap {
                .presetGridWrap {
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: 1fr 1fr;
                    .presetGridWrap__div1{
                        grid-column: 1/2;
                        grid-row: 1/2;
                    } 
                    .presetGridWrap__div2{
                        grid-column: 2/3;
                        grid-row: 1/2;
                    }
                    .presetGridWrap__div3{
                        grid-column: 1/2;
                        grid-row: 2/3;

                    }
                }
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    .preset {
        .preset-gradient_wrap {
            .presetWrap {
                .presetGridWrap {
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr;
                    .presetGridWrap__div1{
                        grid-column: 1/2;
                        grid-row: 1/2;
                    } 
                    .presetGridWrap__div2{
                        grid-column: 2/3;
                        grid-row: 1/2;
                    }
                    .presetGridWrap__div3{
                        grid-column: 3/4;
                        grid-row: 1/2;

                    }
                }
            }
        }
    }
}
