@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Serif+Pro&display=swap');

html {
    font-size: 16px;
    body {
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
        ul, li {
            list-style: none;
            padding-inline-start: 0px;
        }
        font-family: 'Roboto', sans-serif;
        a, a:link {
            text-decoration: none;
            color:#3A5F56;
        }
        #email:focus {
            outline: none;
        }
    }
}
.header {
    background-color: #FFFFFF;
    position: relative;
    z-index: 15;
    .headerWrap {
        max-width: 75rem;
        margin: 0 auto;
        padding: 0 2rem;
        display: grid;
        grid-template-rows: 4.37rem;
        grid-template-columns: 1fr 0.5fr 1.5fr;
        justify-content: space-evenly;
        align-items: center;
        .logo {
            grid-row: 1/2;
            grid-column: 1/2;
            width: 7rem;
            height: 1.8rem;
            background-image: url('../img/Logo_header.svg');
            background-size: contain;
            background-repeat: no-repeat;
        }
        .navigation__ul {
            grid-row: 1/2;
            grid-column: 3/4;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1.4fr;
            grid-template-rows: 1fr;
            justify-content: space-between;
            align-items: center;
            font-size: 1rem;
            a:hover {
                text-decoration: underline;
                color:#3A5F56;
            }
            .navigation__presets {
                grid-column: 1/2;
                grid-row: 1/2;
            }
            .navigation__prints {
                grid-column: 2/3;
                grid-row: 1/2;
            }
            .navigation__store {
                grid-column: 3/4;
                grid-row: 1/2;
            }
            .navigation__about {
                grid-column: 4/5;
                grid-row: 1/2;
            }
            .navigation__contact {
                grid-column: 5/6;
                grid-row: 1/2;
            }
            .navigation__cart {
                grid-column: 6/7;
                grid-row: 1/2;
                justify-self: center;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                width: 7.6rem;
                height: 2.7rem;
                border-radius: 6px;
                background-color: #3A5F56;
                a {
                    color: #FFFFFF;
                }
                .cart__href::before {
                    content: "";
                    display: inline-block;
                    background-image: url('../img/basket.svg');
                    width: 1rem;
                    height: 1rem;
                    background-size: cover;
                    margin-right: 0.4rem;
                }
                .navigation__cart_count {
                margin-left: 0.3rem;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                width: 1.2rem;
                height: 1.1rem;
                border-radius: 0.6rem;
                font-size: 0.6rem;
                background-color: #FFFFFF;
                }
            }
        }
    }
}

.main {
    .intro {
        background-color: #F4F3F0;
        max-height: 60.8rem;
        position: relative;   
        z-index: 10;  
        padding: 0 2rem;  
        .gradient_1 {
            position: absolute;
            height: 31rem;
            width: 35rem;
            left: 70%;
            top: -6.25rem;
            background: radial-gradient(50% 50% at 50% 50%, rgba(58, 95, 86, 0.55) 0%, rgba(58, 95, 86, 0) 100%);
        }
        .gradient_2 {
            position: absolute;
            width: 45.2rem;
            height: 50.8rem;
            top: 37.5rem;
            right: 65%;
            background: radial-gradient(50% 50% at 50% 50%, rgba(184, 125, 88, 0.8) 0%, rgba(184, 125, 88, 0) 100%);
        }
        .introWrap {
            max-width: 75rem;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 5rem 48.3rem 5rem;
            .introLeft {
                grid-column: 1/2;
                grid-row: 2/3;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 4fr 1.5fr 2fr 1fr 4fr;
                .introLeft__h1 {
                    grid-column: 1/2;
                    grid-row: 2/3;
                    font-family: 'Source Serif Pro', serif;
                    font-size: 3rem;
                    line-height: 3.5rem;
                    color: #3A5F56;
                }
                .introLeft__p {
                    grid-column: 1/2;
                    grid-row: 3/4;
                    font-family: 'Roboto', sans-serif;
                    font-size: 1rem;
                    line-height: 1.4rem;
                    color: #292C32;
                }
                .introLeft__a {
                    grid-column: 1/2;
                    grid-row: 4/5;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    width: 7.3rem;
                    height: 2.7rem;
                    border-radius: 6px;
                    background-color: #3A5F56;
                    ////////
                    a:link, a:active, a:focus, a:visited {
                        text-decoration: none;
                        color: #FFFFFF;
                    }
                    a:hover {
                        text-decoration: underline;
                    }
                    //////
                }
            }
            .introRight {
                grid-column: 2/3;
                grid-row: 2/3;
                justify-self: end;
                width: 100%; //34.5rem;
                height: 100%; //48.3rem;
                background-image: url('../img/James.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: right;
            }
        }
    }
    .services {
        background-color:#FFFFFF;
        position: relative;
        z-index: 11;
        padding: 0 2rem;
        .gradientServices_1 {
            z-index: 12;
            position: absolute;
            width: 50.3rem;
            height: 41.4rem;
            top: 62rem;
            right: 76%;
            background: radial-gradient(50% 50% at 50% 50%, rgba(58, 95, 86, 0.376) 0%, rgba(58, 95, 86, 0) 100%);
        }
        .servicesWrap {
            max-width: 75rem;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 6rem 10rem auto 6rem; //59rem - 3
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
            .servicesIntroWrap {
                grid-column: 1/2;
                grid-row: 2/3;
                width: 37rem;
                margin: 0 auto;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto auto auto;
                .servicesIntroWrap__wave {
                    grid-column: 1/2;
                    grid-row: 1/2;
                    display: inline-block;
                    height: 1.2rem;
                    background-image: url('../img/wawe.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .servicesIntroWrap__h3 {
                    grid-column: 1/2;
                    grid-row: 2/3;
                    font-family: 'Source Serif Pro', serif;
                    font-size: 2rem;
                    line-height: 0.4rem;
                    text-align: center;
                    color: #3A5F56;
                }
                .servicesIntroWrap__p {
                    grid-column: 1/2;
                    grid-row: 3/4;
                    font-family: 'Roboto', sans-serif;
                    font-size: 1rem;
                }
            }
            .servicesGridWrap {
                grid-column: 1/2;
                grid-row: 3/4;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr;
                justify-content: center;
                align-content: center;
                gap: 8px;
                .s_cell {
                    max-width: 23.7rem;
                    max-height: 19rem;
                    border-radius: 1rem;
                    background-color: #F4F3F0;
                    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.03);
                    justify-self: center;
                    padding: 1.9rem;
                }
                .s_cell_img {
                    display: inline-block;
                    height: 3rem;
                    width: 3rem;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .s_cell_h4 {
                    font-family: 'Source Serif Pro', serif;
                    font-size: 1.5rem;
                    line-height: 1.8rem;
                }
                .p_cell_p {
                    font-family: 'Roboto', sans-serif;
                    font-size: 1rem;
                    line-height: 1.4;
                }
                .s_cell_btn {
                    ///
                    .s_cell_btn_a::after {
                       content: "";
                       display: inline-block;
                       background-image: url('../img/arrow_a.svg');
                       width: 1.2rem;
                       height: 0.6rem;
                       background-size: cover;
                       margin-left: 0.2rem; 
                    }
                }
               
                .servicesGridWrap__div1 {
                    grid-column: 1/2;
                    grid-row: 1/2;
                .s_cell_img {
                    background-image: url('../img/s_01.svg');
                }
                }
                .servicesGridWrap__div2 {
                    grid-column: 2/3;
                    grid-row: 1/2;
                    .s_cell_img {
                        background-image: url('../img/s_02.svg');
                    }
                }
                .servicesGridWrap__div3 {
                    grid-column: 3/4;
                    grid-row: 1/2;
                    .s_cell_img {
                        background-image: url('../img/s_03.svg');
                    }
                }
                .servicesGridWrap__div4 {
                    grid-column: 1/2;
                    grid-row: 2/3;
                    .s_cell_img {
                        background-image: url('../img/s_04.svg');
                    }
                }
                .servicesGridWrap__div5 {
                    grid-column: 2/3;
                    grid-row: 2/3;
                    .s_cell_img {
                        background-image: url('../img/s_05.svg');
                    }
                }
                .servicesGridWrap__div6 {
                    grid-column: 3/4;
                    grid-row: 2/3;
                    .s_cell_img {
                        background-image: url('../img/s_06.svg');
                    }
                }
                .servicesGridWrap__div7 {
                    grid-column: 1/2;
                    grid-row: 3/4;
                    .s_cell_img {
                        background-image: url('../img/s_07.svg');
                    }
                }
            }
        }
    }
    .preset {
        background-color: #F4F3F0;
        position: relative;
        z-index: 12;
        padding: 0 2rem;
        .gradientPreset {
            position: absolute;
            width: 32.2rem;
            height: 31.3rem;
            top: 35.4rem;
            left: 79%;
            background: radial-gradient(50% 50% at 50% 50%, rgba(219, 52, 59, 0.296) 0%, rgba(219, 52, 59, 0) 100%);
        }
        .presetWrap{
            max-width: 75rem;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 4rem auto auto 3rem 6rem;
            .presetIntroWrap {
                grid-column: 1/2;
                grid-row: 2/3;
                align-self: center;
                width: 37rem;
                margin: 0 auto;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 0.5fr auto auto auto;
                .presetIntroWrap__wave {
                    grid-column: 1/2;
                    grid-row: 2/3;
                    display: inline-block;
                    height: 1.2rem;
                    background-image: url('../img/wawe.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .presetIntroWrap__h3 {
                    grid-column: 1/2;
                    grid-row: 3/4;
                    font-family: 'Source Serif Pro', serif;
                    font-size: 2rem;
                    line-height: 0.4rem;
                    text-align: center;
                    color: #DB343B;
                }
                .presetIntroWrap__p {
                    grid-column: 1/2;
                    grid-row: 4/5;
                    font-family: 'Roboto', sans-serif;
                    font-size: 1rem;
                }
            }
            .presetGridWrap {
                grid-row: 3/4;
                grid-column: 1/2;
                display: grid;
                justify-items: center;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                .p_cell {
                    max-width: 23.6rem;
                    max-height: auto;
                    border-radius: 1rem;
                    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
                    background-color: #FFFFFF;
                    margin: 1rem;
                }
                .img_pr_cell {
                    width: auto;
                    height: 15.8rem;
                    display: block;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .h4_pr_cell {
                    font-family: 'Source Serif Pro', serif;
                    font-size: 1.5rem;
                    line-height: 1rem;
                    padding: 0 1rem;
                }
                .pr_cell_p {
                    font-family: 'Roboto', sans-serif;
                    font-size: 1rem;
                    line-height: 1.4rem;
                    padding: 0 1rem;
                }

                .presetGridWrap__div1 {
                    grid-column: 1/2;
                    grid-row: 1/2;
                    justify-self: start;
                    .img_pr_cell {
                        background-image: url('../img/preset_01.png');
                    }
                }
                .presetGridWrap__div2 {
                    grid-column: 2/3;
                    grid-row: 1/2;
                    .img_pr_cell {
                        background-image: url('../img/preset_02.png');
                    }
                }
                .presetGridWrap__div3 {
                    grid-column: 3/4;
                    grid-row: 1/2;
                    justify-self: end;
                    .img_pr_cell {
                        background-image: url('../img/preset_03.png');
                    }
                }
            }
            .presetLinkWrap {
                grid-row: 4/5;
                grid-column: 1/4;
                margin: 0 auto;
                align-self: center;
                .presetLinkWrap_span {
                    width: 7.3rem;
                    height: 1.5rem;
                }
                .preset__btn {
                    line-height: 1.5rem;
                }
                .preset__btn::after {
                    content: "";
                       display: inline-block;
                       background-image: url('../img/arrow_a.svg');
                       width: 1.2rem;
                       height: 0.6rem;
                       background-size: cover;
                       margin-left: 0.2rem; 
                }

            }
        }
    }
    .contact {
        position: relative;
        z-index: 13;
        .gradientContact {
            position: absolute;
            width: 53.4rem;
            height: 48.3rem;
            top: 10rem;
            right: 47.6%;
            background: radial-gradient(50% 50% at 50% 50%, rgba(184, 125, 88, 0.35) 0%, rgba(184, 125, 88, 0) 100%);
        }
        .contactWrap {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6rem auto 6rem;
        align-content: center;
        background-color: #FFFFFF;
        .contactWrapGrid {
            grid-column: 1/2;
            grid-row: 2/3;
            background-color: #F4F3F0;
            max-width: 50rem;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 0.5fr 4fr 1fr 1.5fr 0.5fr;
            grid-template-rows: 0.5fr 1fr 0.4fr;
            border-radius: 1rem;
            .contactWrap__paragraph {
                grid-column: 2/3;
                grid-row: 2/3;
                font-size: 1.5rem;
                justify-self: center;
                .contactWrap__paragraph_p {
                    //max-width: 19.6rem;
                }
            }
            .contactWrap__btn_a {
                grid-column: 4/5;
                grid-row: 2/3;
                align-self: center;
                width: 7.8rem;
                height: 3.6rem;
                border-radius: 6px;
                background-color: #3A5F56;
                display: flex;
                flex-flow: row nowrap;
                justify-content: center;
                align-items: center;
                .contactWrap__btn {
                    width: 4.7rem;
                    height: 1.7rem;
                    color: #FFFFFF;
                    font-size: 1.2rem;
                }
            }
        }
        }
    }
   
}
.footer {
    position: relative;
    z-index: 14;
    background-color: #292C32;
    color: #FFFFFF;
    .footerGridWrap {
        margin: 0 auto;
        padding: 0 2rem;
        max-width: 75rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 5fr 1fr 3rem;
        gap: 1rem;
        .footerLogoWrap {
            grid-column: 1/2;
            grid-row: 1/2;
            justify-self: center;
            align-self: center;
            .footerLogoWrap_span {
                grid-row: 1/2;
                grid-column: 1/2;
                width: 7rem;
                height: 1.8rem;
                background-image: url('../img/Logo_header.svg');
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
        .footerColumnWrap {
            grid-column: 1/2;
            grid-row: 2/3;
            display: grid;
            grid-template-columns: 1fr 1.5fr 1fr 2.5fr;
            grid-template-rows: 1fr 1.5fr;
            li {
                padding: 0.5rem 0;
                a {
                    color: #FFFFFF;
                }
            }
            .ch_cl {
                color: #B87D58;
            }

            .pages {
                grid-column: 1/2;
                grid-row: 1/2;
            }
            .presetPacks {
                grid-column: 2/3;
                grid-row: 1/2;
            }
            .utilityPages {
                grid-column: 3/4;
                grid-row: 1/2;
            }
            .newsletter {
                grid-column: 4/5;
                grid-row: 1/2;
                .newsletter_search_wrap {
                    .newsletter_search{
                        display: grid;
                        grid-template-columns: 2fr 1fr;
                        grid-template-rows: 1fr;
                        justify-items: center;
                        align-content: center;
                        max-width: 28.6rem;
                        max-height: 3.3rem;
                        background-color: #FFFFFF;
                        border: 1px solid #E5E7EB;
                        border-radius: 8px;
                        .email {
                            grid-column: 1/2;
                            grid-row: 1/2;
                            border: none;
                            display: inline-block;
                            width: 90%;
                        }
                        .submit {
                            grid-column: 2/3;
                            grid-row: 1/2;
                            align-self: center;
                            display: inline-block;
                            width: 4.4rem;
                            height: 2.4rem;
                            border-radius: 0.6rem;
                            background-color: #292C32;
                            color: #FFFFFF;
                        }
                    }
                }
            }
            .storeCategories {
                grid-column: 1/2;
                grid-row: 2/3;
            }
            .businesAreas {
                grid-column: 2/3;
                grid-row: 2/3;
            }
        }
        .footerInfo {
            grid-column: 1/2;
            grid-row: 3/4;
            display: grid;
            grid-template-columns: 7fr 1fr 3fr 1fr;
            grid-template-rows: 1fr;
            justify-content: center;
            align-items: center;

            .rights {
                grid-column: 1/2;
                grid-row: 1/2;
                .webflow {
                    padding-left: 0.4rem;
                    color: #DB343B;
                }
            }
            .social {
                grid-column: 3/4;
                grid-row: 1/2;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-around;
                .linkedin a {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    background-image: url('../img/linkedin.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
                .facebook a {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    background-image: url('../img/facebook.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
                .instagram a {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    background-image: url('../img/istagram.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
                .twitter a {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    background-image: url('../img/twitter.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                }
            }
        }
    }
}

@media screen and (max-width: 59.3rem) {
    .header {
        .headerWrap {
            max-width: 59.3rem;
            display: grid; 
            grid-template-rows: 4.37rem;
            grid-template-columns: 0.5fr 0.1fr 2.3fr;
        } 
    }
    .main {
        .intro {
            max-height: 100%;
            .introWrap {
                max-width: 59rem;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1rem 1fr 1fr 0.1rem;
                .introLeft {
                    grid-column: 1/2;
                    grid-row: 3/4;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr 0.4fr;
                    .introLeft__h1 {
                        grid-column: 1/2;
                        grid-row: 1/2;
                        text-align: center;
                    }
                    .introLeft__p {
                        grid-column: 1/2;
                        grid-row: 2/3;
                    }
                    .introLeft__a {
                        grid-column: 1/2;
                        grid-row: 3/4;
                        justify-self: center;
                    }

                }
                .introRight {
                    grid-column: 1/2;
                    grid-row: 2/3;
                    justify-self: center;
                    background-position: center;
                    max-height: 48rem;
                
                }
            }
        }
        .services {
            .servicesWrap {
                .servicesGridWrap {
                    gap: 5px;
                    .s_cell_img {
                        height: 2rem;
                        width: 2rem;
                    }
                    .s_cell_h4 {
                        font-size: 1.3rem;
                        line-height: 1.5rem;
                    }
                    .p_cell_p {
                        font-size: 0.8rem;
                    }
                }
                
            }
        } 
        .preset {
            .presetWrap {
                .presetGridWrap {
                    .h4_pr_cell {
                        font-size: 1.2rem;
                        line-height: 1.2rem;
                    }
                    .pr_cell_p {
                        font-size: 0.9rem;
                    }
                }
            }
        }
        .contact {
            .contactWrap {
                display: grid;
                grid-template-columns: 1fr 5fr 1fr;
                grid-template-rows: 1fr 3fr 1fr;
                .contactWrapGrid {
                    grid-column: 2/3;
                    grid-row: 2/3;
                }
            }
        }
    }
    .footer {
        .footerGridWrap {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 0.5fr 1.5fr 0.4fr;
            .footerColumnWrap {
                display: grid;
                grid-template-columns: 1fr 1fr 1.3fr 1fr;
                grid-template-rows: 1fr 1fr;
                gap: 0.5rem;
                .pages {
                    grid-column: 1/2;
                    grid-row: 1/2;///
                }
                .presetPacks {
                    grid-column: 1/2;
                    grid-row: 2/3;//
                }
                .utilityPages {
                    grid-column: 2/3;
                    grid-row: 2/3;//
                }
                .newsletter {
                    grid-column: 2/5;
                    grid-row: 1/2;///
                }
                .storeCategories {
                    grid-column: 4/5;
                    grid-row: 2/3;
                }
                .businesAreas {
                    grid-column: 3/4;
                    grid-row: 2/3;
                }

            }
        }
    }
}
@media screen and (max-width: 42rem) {
    .main {
        .services {
            .servicesWrap {
                .servicesGridWrap {
                    .p_cell_p {
                        font-size: 0.7rem;
                    }
                    .s_cell_h4  {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}