html {
    font-size: 16px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Serif+Pro&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ul, li {
        list-style: none;
    }
    font-family: 'Roboto', sans-serif;
}
div {
    border: 1px solid cadetblue;
}
.globalWrap {
    max-width: 1440px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 75rem 1fr;
    grid-template-rows: 4.3rem 227.5rem 48.6rem;
    justify-content: center;
}
.header {
    grid-column: 2/3;
    grid-row: 1/2;
    .headerWrap{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1.4fr;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        .logo {
            grid-row: 1/2;
            grid-column: 1/2;
            width: 7rem;
            height: 1.8rem;
            background-image: url('../img/Logo_header.svg');
            background-size: contain;
        }
        .navigation {
            grid-row: 1/2;
            grid-column: 2/3;
            .navigation__ul {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1.4fr;
                grid-template-rows: 1fr;
                justify-content: space-around;
                align-items: center;
                font-size: 1rem;
                a:link, a:active, a:focus, a:visited {
                    text-decoration: none;
                    color:#3A5F56;
                }
                a:hover {
                    text-decoration: underline;
                    color:#3A5F56;
                }
                .navigation__presets {
                    grid-column: 1/2;
                    grid-row: 1/2;
                }
                .navigation__prints {
                    grid-column: 2/3;
                    grid-row: 1/2;
                }
                .navigation__store {
                    grid-column: 3/4;
                    grid-row: 1/2;
                }
                .navigation__about {
                    grid-column: 4/5;
                    grid-row: 1/2;
                }
                .navigation__contact {
                    grid-column: 5/6;
                    grid-row: 1/2;
                }
                .navigation__cart {
                    grid-column: 6/7;
                    grid-row: 1/2;
                    justify-self: center;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    width: 7.6rem;
                    height: 2.7rem;
                    border-radius: 6px;
                    background-color: #3A5F56;
                    a {
                        color: #FFFFFF;
                    }
                    .cart__href::before {
                        content: "";
                        display: inline-block;
                        background-image: url('../img/basket.svg');
                        width: 1rem;
                        height: 1rem;
                        background-size: cover;
                        margin-right: 0.4rem;
                    }
                    .navigation__cart_count {
                    margin-left: 0.3rem;
                    display: flex;
                    flex-flow: row nowrap;
                    justify-content: center;
                    align-items: center;
                    width: 1.2rem;
                    height: 1.1rem;
                    border-radius: 0.6rem;
                    font-size: 0.6rem;
                    background-color: #FFFFFF;
                    }
                }
            }
        }
    }
}
.main {
    grid-column: 1/4;
    grid-row: 2/3;
    .intro {
        background-color: #F4F3F0;
        .introWrap {
            width: 75rem;
            margin: 0 auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            .introLeft {
                grid-column: 1/2;
                grid-row: 1/2;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 4fr 2fr 2fr 1fr 4fr;
                .introLeft__h1 {
                    grid-column: 1/2;
                    grid-row: 2/3;
                }
                .introLeft__p {
                    grid-column: 1/2;
                    grid-row: 3/4;
                }
                .introLeft__a {
                    grid-column: 1/2;
                    grid-row: 4/5;
                }
            }
            .introRight {
                grid-column: 2/3;
                grid-row: 1/2;
                width: 100%; //34.5rem;
                height: 100%; //48.3rem;
                background-image: url('../img/James.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    .services {
        background-color: chocolate;
        .servicesWrap {
            width: 75rem;
            margin: 0 auto;
            background-color: bisque;
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: auto auto auto;
            justify-content: center;
            .servicesIntroWrap {
                width: 37rem;
                grid-row: 1/2;
                grid-column: 1/4;
                display: grid;
                grid-template-columns: auto;
                grid-template-rows: auto auto auto;
                justify-content: start;
                .servicesIntroWrap__wave {
                    grid-column: 1/2;
                    grid-row: 1/2;
                    display: inline-block;
                    height: 1.2rem;
                    background-image: url('../img/wawe.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .servicesIntroWrap__h3 {
                    grid-column: 1/2;
                    grid-row: 2/3;
                    font-family: 'Source Serif Pro', serif;
                    font-size: 2rem;
                    line-height: 0.4rem;
                    text-align: center;
                }
                .servicesIntroWrap__p {
                    grid-column: 1/2;
                    grid-row: 3/4;
                    font-family: 'Roboto', sans-serif;
                    font-size: 1rem;
    
                }
            }
            .servicesGridWrap {
                grid-row: 2/3;
                grid-column: 1/4;
                background-color: cadetblue;
            }
        }
    }
   
}
.footer {
    grid-column: 1/4;
    grid-row: 3/4;
}
